In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step-01: Load the dataset

In [3]:
# Load the dataset
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
# theme: BAsed on age and estimated salary find purchased or not
# so remove or delete columns and give just age estimatedsalary and purchased
# input:x-age and estimatedSalary and output: y- purchased
# : start to end rows, 2:4 means 2 to 4 columns
# for input data
X = df.iloc[:,2:4].values
X.shape

(400, 2)

In [5]:
# set target varaible/Featur or colum
y = df.iloc[:,-1].values
y.shape

(400,)

### Step-02: Cross validation

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20)

In [13]:

X_train.shape

(320, 2)

In [15]:
y_train.shape

(320,)