## Assignment on KNN
#### Name: Subena khatun
#### ID: 20241373
#### Section: B, Batch: 13

### Step-01: Load sataset

In [1]:
# necessary librairs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load dataset
df = pd.read_csv('KNN.csv')
df.head()

,sl,sepal Length,Sepal Width,Species,Distance,Rank,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,5.3,3.7,Setosa,0.608276,3,k=3,NaN,NaN,NaN,NaN,NaN
1,2,5.1,3.8,Setosa,0.707107,6,NaN,NaN,NaN,NaN,sepal Length,Sepal Width
2,3,7.2,3.0,Virginica,2.002498,13,NaN,NaN,NaN,NaN,5.2,3.1
3,4,5.4,3.4,Setosa,0.360555,2,k=2,NaN,NaN,NaN,NaN,NaN
4,5,5.1,3.3,Setosa,0.223607,1,k=1,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['sl', 'sepal Length', 'Sepal Width', 'Species', 'Distance', 'Rank',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [4]:
df = df.drop(columns=['Distance', 'Rank','Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'], inplace=False)
df.head(3)

   sl  sepal Length  Sepal Width    Species
0   1           5.3          3.7     Setosa
1   2           5.1          3.8     Setosa
2   3           7.2          3.0  Virginica

In [5]:
df = df.drop(columns=['sl'], inplace=False)

In [6]:
df.head()

   sepal Length  Sepal Width    Species
0           5.3          3.7     Setosa
1           5.1          3.8     Setosa
2           7.2          3.0  Virginica
3           5.4          3.4     Setosa
4           5.1          3.3     Setosa

### Define the Euclidean Distance Function

In [6]:
def euclidean_distance(x1, x2):
    return np.sqrt(np.sum((x1 - x2) ** 2))

In [ ]:
# check distance value
# euclidean_distance(5.3,3.7)

np.float64(1.5999999999999996)

### Implement the Manual KNN Algorithm

In [ ]:
def knn_classify(X_train, y_train, X_new, k=3):
    # Calculate distances between X_new and all training points
    distances = [euclidean_distance(X_new, x) for x in X_train]

    # Get indices of K nearest neighbors
    k_neighbors = np.argsort(distances)[:k]

    # Get the classes of K nearest neighbors
    k_labels = y_train[k_neighbors]

    # Majority vote
    unique, counts = np.unique(k_labels, return_counts=True)
    return unique[np.argmax(counts)]