## Assignment on KNN
#### Name: Subena khatun
#### ID: 20241373
#### Section: B, Batch: 13

### Step-01: Load sataset

In [63]:
# necessary librairs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.spatial.distance import euclidean

In [51]:
# load dataset
df = pd.read_csv('KNN.csv')
df.head()

,sl,sepal Length,Sepal Width,Species,Distance,Rank,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,5.3,3.7,Setosa,0.608276,3,k=3,NaN,NaN,NaN,NaN,NaN
1,2,5.1,3.8,Setosa,0.707107,6,NaN,NaN,NaN,NaN,sepal Length,Sepal Width
2,3,7.2,3.0,Virginica,2.002498,13,NaN,NaN,NaN,NaN,5.2,3.1
3,4,5.4,3.4,Setosa,0.360555,2,k=2,NaN,NaN,NaN,NaN,NaN
4,5,5.1,3.3,Setosa,0.223607,1,k=1,NaN,NaN,NaN,NaN,NaN

In [52]:
df.columns

Index(['sl', 'sepal Length', 'Sepal Width', 'Species', 'Distance', 'Rank',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [53]:
df = df.drop(columns=['Distance', 'Rank','Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'], inplace=False)
df.head(3)

   sl  sepal Length  Sepal Width    Species
0   1           5.3          3.7     Setosa
1   2           5.1          3.8     Setosa
2   3           7.2          3.0  Virginica

In [54]:
df = df.drop(columns=['sl'], inplace=False)

In [55]:
df.head()

   sepal Length  Sepal Width    Species
0           5.3          3.7     Setosa
1           5.1          3.8     Setosa
2           7.2          3.0  Virginica
3           5.4          3.4     Setosa
4           5.1          3.3     Setosa

### Define the Euclidean Distance Function

In [56]:
def euclidean_distance(x1, x2):
    return np.sqrt(np.sum((x1 - x2) ** 2))

In [57]:
def knn_classify(X_train, y_train, X_new, k=3):
    # Calculate distances between X_new and all training points
    distances = [euclidean_distance(X_new, x) for x in X_train]

    # Get indices of K nearest neighbors
    k_neighbors = np.argsort(distances)[:k]

    # Get the classes of K nearest neighbors
    k_labels = y_train[k_neighbors]

    # Majority vote
    unique, counts = np.unique(k_labels, return_counts=True)
    return unique[np.argmax(counts)]

In [58]:
# Convert DataFrame to numpy arrays
X = df.iloc[:, :-1].values  # Features
y = df.iloc[:, -1].values   # Target labels

# Define new flower data point
X_new = np.array([5.8, 3.0, 4.2, 1.2])  # Unlabeled data point

In [59]:
# Predict the class using KNN
k = 3  # Number of neighbors
predicted_class = knn_classify(X, y, X_new, k)

# Print the result
print(f"Predicted class for {X_new}: {irish.target_names[predicted_class]}")

ValueError: operands could not be broadcast together with shapes (4,) (2,)

### Implement the Manual KNN Algorithm

##### MAnually k value seletion

In [60]:
k = np.sqrt(df.shape[0])
k = k.astype('int32')
k

np.int32(3)

In [61]:
import numpy as np
from scipy.spatial.distance import euclidean

# Define Euclidean distance function
def euclidean_distance(x1, x2):
    return np.sqrt(np.sum((x1 - x2) ** 2))

# Corrected KNN classification function
def knn_classify(X_train, y_train, X_new, k=3):
    """
    Perform KNN classification manually.
    X_train: Training features
    y_train: Training labels
    X_new: New data point to classify
    k: Number of nearest neighbors
    """
    y_train = np.array(y_train)  # Ensure y_train is a NumPy array

    # Compute distances between X_new and all training points
    distances = [euclidean_distance(X_new, x) for x in X_train]

    # Get indices of K nearest neighbors
    k_neighbors = np.argsort(distances)[:k]

    # Get the classes of K nearest neighbors
    k_labels = y_train[k_neighbors]

    # Majority voting
    unique, counts = np.unique(k_labels, return_counts=True)
    return unique[np.argmax(counts)]

In [62]:
# Example dataset
X_train = np.array([[5.1, 3.5, 1.4, 0.2], [4.9, 3.0, 1.4, 0.2], [6.2, 3.4, 5.4, 2.3]])
y_train = np.array([0, 0, 2])  # Class labels

# New data point
X_new = np.array([5.8, 3.0, 4.2, 1.2])

# Predict class using KNN
predicted_class = knn_classify(X_train, y_train, X_new, k=3)

print(f"Predicted class: {predicted_class}")

Predicted class: 0