## Assignment on KNN
#### Name: Subena khatun
#### ID: 20241373
#### Section: B, Batch: 13

### Step-01: Load sataset

In [1]:
# necessary librairs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load dataset
df = pd.read_csv('KNN.csv')
df.head()

,sl,sepal Length,Sepal Width,Species,Distance,Rank,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,5.3,3.7,Setosa,0.608276,3,k=3,NaN,NaN,NaN,NaN,NaN
1,2,5.1,3.8,Setosa,0.707107,6,NaN,NaN,NaN,NaN,sepal Length,Sepal Width
2,3,7.2,3.0,Virginica,2.002498,13,NaN,NaN,NaN,NaN,5.2,3.1
3,4,5.4,3.4,Setosa,0.360555,2,k=2,NaN,NaN,NaN,NaN,NaN
4,5,5.1,3.3,Setosa,0.223607,1,k=1,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['sl', 'sepal Length', 'Sepal Width', 'Species', 'Distance', 'Rank',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [4]:
df = df.drop(columns=['Distance', 'Rank','Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'], inplace=False)
df

    sl  sepal Length  Sepal Width      Species
0    1           5.3          3.7       Setosa
1    2           5.1          3.8       Setosa
2    3           7.2          3.0    Virginica
3    4           5.4          3.4       Setosa
4    5           5.1          3.3       Setosa
5    6           5.4          3.9       Setosa
6    7           7.4          2.8    Virginica
7    8           6.1          2.8  Verscicolor
8    9           7.3          2.9    Virginica
9   10           6.0          2.7  Verscicolor
10  11           5.8          2.8    Virginica
11  12           6.3          2.3  Verscicolor
12  13           5.1          2.5  Verscicolor
13  14           6.3          2.5  Verscicolor
14  15           5.5          2.4  Verscicolor

In [5]:
df = df.drop(columns=['sl'], inplace=False)
df

    sepal Length  Sepal Width      Species
0            5.3          3.7       Setosa
1            5.1          3.8       Setosa
2            7.2          3.0    Virginica
3            5.4          3.4       Setosa
4            5.1          3.3       Setosa
5            5.4          3.9       Setosa
6            7.4          2.8    Virginica
7            6.1          2.8  Verscicolor
8            7.3          2.9    Virginica
9            6.0          2.7  Verscicolor
10           5.8          2.8    Virginica
11           6.3          2.3  Verscicolor
12           5.1          2.5  Verscicolor
13           6.3          2.5  Verscicolor
14           5.5          2.4  Verscicolor