## Assignment on KNN
#### Name: Subena khatun
#### ID: 20241473
#### Section: B, Batch: 13

In [1]:
# necessary librairs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.spatial.distance import euclidean

### Implement the Manual KNN Algorithm

In [2]:
# Import all librarirs
import numpy as np
import pandas as pd

In [3]:
# Load the dataset
df = pd.read_csv("KNN.csv")
df.head()

,sl,sepal Length,Sepal Width,Species,Distance,Rank,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,5.3,3.7,Setosa,0.608276,3,k=3,NaN,NaN,NaN,NaN,NaN
1,2,5.1,3.8,Setosa,0.707107,6,NaN,NaN,NaN,NaN,sepal Length,Sepal Width
2,3,7.2,3.0,Virginica,2.002498,13,NaN,NaN,NaN,NaN,5.2,3.1
3,4,5.4,3.4,Setosa,0.360555,2,k=2,NaN,NaN,NaN,NaN,NaN
4,5,5.1,3.3,Setosa,0.223607,1,k=1,NaN,NaN,NaN,NaN,NaN

In [4]:
# drop unnecessary columns or featurs
df = df[['sepal Length', 'Sepal Width', 'Species']].dropna()
df.head()

   sepal Length  Sepal Width    Species
0           5.3          3.7     Setosa
1           5.1          3.8     Setosa
2           7.2          3.0  Virginica
3           5.4          3.4     Setosa
4           5.1          3.3     Setosa

In [5]:
# Convert to feature matrix and label vector
X = df[['sepal Length', 'Sepal Width']].values.tolist()
y = df['Species'].values.tolist()

In [6]:
# Euclidean distance
def euclidean_distance(point1, point2):
    return np.sqrt(sum((p1 - p2) ** 2 for p1, p2 in zip(point1, point2)))

In [7]:
def knn_classify(X_train, y_train, X_new, k=3):
    distances = [(euclidean_distance(X_new, x), label) for x, label in zip(X_train, y_train)]
    distances.sort(key=lambda x: x[0])  
    k_nearest = distances[:k]  
    class_counts = {}
    for _, label in k_nearest:
        class_counts[label] = class_counts.get(label, 0) + 1
    return max(class_counts, key=class_counts.get)

In [8]:
# Split data 
train_size = int(len(X) * 0.8)
X_train, y_train = X[:train_size], y[:train_size]
X_test, y_test = X[train_size:], y[train_size:]

In [9]:
# Predict labels for test data
k = 3
predictions = [knn_classify(X_train, y_train, x, k) for x in X_test]

# Evaluate accuracy
accuracy = sum(1 for pred, actual in zip(predictions, y_test) if pred == actual) / len(y_test)

# Print results
for i, (pred, actual) in enumerate(zip(predictions, y_test)):
    print(f"Test Sample {i+1}: Predicted = {pred}, Actual = {actual}")

print(f"\nAccuracy: {accuracy * 100:.2f}%")

Test Sample 1: Predicted = Virginica, Actual = Verscicolor
Test Sample 2: Predicted = Verscicolor, Actual = Verscicolor
Test Sample 3: Predicted = Verscicolor, Actual = Verscicolor

Accuracy: 66.67%